@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@600&display=swap");
.about-us {
  max-width: 1440px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}
.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.9vw;
}
.about-us__image {
  display: inline-block;
  width: clamp(300px, 100%, 680px);
  height: auto;
  position: relative;
  top: 2vw;
  left: 2vw;
}
.about-us__image-container {
  display: inline-block;
  width: clamp(300px, 100%, 680px);
  height: clamp(310px, 100%, 710px);
  border: 2px solid #b0855b;
  border-radius: 9.1vw 0px;
  margin-left: 0;
  margin-top: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}
.about-us__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #646464;
  margin-bottom: 3.26vw;
  padding-top: 90px;
}
.about-us__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(10px + 0.52vw);
  line-height: calc(18px + 0.52vw);
  color: #646464;
  margin-bottom: 3.9vw;
}
.about-us__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35.4vw;
  -webkit-box-flex: 3;
      -ms-flex: 3 3 300px;
          flex: 3 3 300px;
}
.about-us__title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 5vw;
  line-height: 7vw;
  color: #212121;
  margin-bottom: 15px;
}

@media (max-width: 760px) {
  .about-us {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-us__container {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__image {
    width: clamp(100px, 100%, 500px);
  }
  .about-us__image-container {
    width: clamp(100px, 100%, 500px);
  }
  .about-us__subtitle {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us__text-container {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__title {
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about-us__text {
    text-align: center;
  }
}