@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
.button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #37806b;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 0;
  height: 50px;
  border: 2px solid #37806b;
  border-radius: 20px 0px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #ffffff;
  color: #37806b;
}