@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@600&display=swap");
.completed {
  max-width: 1440px;
  height: 677px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.completed__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 185px;
  width: 185px;
  min-width: 140px;
  background: #ffffff;
  -webkit-box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
}
.completed__card--to-bottom {
  margin-top: 9.77vw;
}
.completed__card--to-top {
  margin-top: 0;
}
.completed__card-number {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  margin: 0;
  color: #212121;
}
.completed__card-text {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #646464;
}
.completed__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 278px;
  max-width: 87.43vw;
}
.completed__line {
  display: inline-block;
  height: 6.25vw;
  max-width: 14vw;
  min-width: 0;
  margin-top: 90px;
}
.completed__title {
  display: inline-block;
  max-width: 830px;
  height: 120px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 87px;
}