@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600&display=swap");
.success {
  max-width: 1440px;
  margin-top: 200px;
  margin-bottom: 221px;
  margin-left: auto;
  margin-right: auto;
}
.success__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 140px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.success__extra-title {
  display: block;
  height: 350px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 288px;
  margin-bottom: 25px;
  mix-blend-mode: lighten;
  background-color: #ffffff;
  margin: 0;
}
.success__extra-title-back {
  margin: 0;
  padding: 0;
  background-image: url(../images/twenty_back.png);
  background-size: cover;
}
.success__image {
  display: inline-block;
  width: 715px;
  height: 613px;
  position: relative;
  top: -32px;
  left: -32px;
  border-bottom-right-radius: 140px;
  border-top-left-radius: 140px;
}
.success__image-container {
  display: inline-block;
  width: 715px;
  height: 613px;
  border: 2px solid #b0855b;
  border-radius: 140px 0px;
  margin-left: 32px;
}
.success__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 632px;
}
.success__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  mix-blend-mode: lighten;
  background-color: #ffffff;
}