@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600&display=swap");
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1440px;
  margin-top: 7.2vw;
  margin-bottom: 30vw;
  gap: 2.6vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: calc(270px + 8.46vw);
  height: calc(120px + 2.86vw);
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding-left: 25px;
  gap: 12px;
}
.services__card--brown {
  background-color: #caa892;
  color: #ffffff;
}
.services__card--white {
  background-color: #ffffff;
}
.services__img {
  display: inline-block;
  height: 34px;
  width: 45px;
  margin-top: 32px;
}
.services__text {
  display: inline-block;
  width: calc(223px + 6.71vw);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: calc(10px + 0.5vw);
  color: #646464;
  margin: 0;
}
.services__text--white {
  color: #ffffff;
}
.services__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 343px;
}
.services__title {
  display: inline-block;
  width: 343px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: calc(12px + 0.78vw);
  color: #212121;
  margin: 0;
  margin-top: 30px;
}
.services__title--white {
  color: #ffffff;
}

.what-we-do {
  max-width: 1440px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}
.what-we-do__button {
  display: inline-block;
  width: 206px;
  height: 46px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  background-color: #37806b;
  border-radius: 20px;
  border: 2px solid #37806b;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.what-we-do__button:hover {
  color: #37806b;
  background-color: #ffffff;
}
.what-we-do__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  gap: 5vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.what-we-do__subtitle {
  display: block;
  width: 150px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #646464;
  padding-top: 90px;
}
.what-we-do__title {
  display: block;
  width: 320px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: calc(20px + 1.8vw);
  color: #212121;
  margin-top: 23px;
}

@media (max-width: 760px) {
  .what-we-do {
    margin-top: 30px;
  }
  .what-we-do__subtitle {
    text-align: center;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .what-we-do__title {
    text-align: center;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .what-we-do__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
    max-width: 500px;
    gap: 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .services {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
  }
  .services__card {
    margin-top: 2px;
  }
}