@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@600&display=swap");

.about-us {
  max-width: 1440px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    justify-content: space-between;
    gap: 3.9vw;
  }
  &__image {
    display: inline-block;
    width: clamp(300px, 100%, 680px);
    height: auto;
    position: relative;
    top: 2vw;
    left: 2vw;
  }
  &__image-container {
    display: inline-block;
    width: clamp(300px, 100%, 680px);
    height: clamp(310px, 100%, 710px);
    border: 2px solid #b0855b;
    border-radius: 9.1vw 0px;
    margin-left: 0;
    margin-top: 90px;
    flex: 1 1 300px;
  }
  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #646464;
    margin-bottom: 3.26vw;
    padding-top: 90px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: calc(10px + 0.52vw);
    line-height: calc(18px + 0.52vw);
    color: #646464;
    margin-bottom: 3.9vw;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    width: 35.4vw;
    flex: 3 3 300px;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 5vw;
    line-height: 7vw;
    color: #212121;
    margin-bottom: 15px;
  }
}
