@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap");

.header {
  max-width: 1440px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    justify-content: space-between;
  }
  &__image {
    display: inline-block;
    width: clamp(300px, 100%, 715px);
    height: auto;
    position: relative;
    top: -2vw;
    left: -2vw;
  }
  &__image-container {
    display: inline-block;
    width: clamp(300px, 100%, 715px);
    height: clamp(280px, 100%, 613px);
    border: 2px solid #b0855b;
    border-radius: 9.1vw 0px;
    margin-left: 32px;
    margin-top: 90px;
    flex: 2 2 300px;
  }
  &__logo {
    display: inline;
    width: 150px;
    height: 46px;
  }
  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #646464;
    margin-bottom: 13px;
    padding-top: 90px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: calc(10px + 0.52vw);
    line-height: calc(18px + 0.52vw);
    color: #646464;
    margin-bottom: 3.3vw;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    width: 41vw;
    flex: 2 2 300px;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 5vw;
    line-height: 7vw;
    color: #212121;
    margin-bottom: 1.6vw;
  }
}
.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: clamp(90%, 97.5%, 97.5%);
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-menu__button {
  display: inline-block;
  width: 96px;
  height: 28px;
  text-align: center;
  padding-top: 3px;
  margin-left: 30px;
  background-color: #caa892;
  border: 2px solid #caa892;
  transition: background-color 0.5s;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px 0px;
}

.nav-menu__button:hover {
  background-color: #ffffff;
}

.nav-menu__button:hover .nav-menu__button-link {
  color: #caa892;
}

.nav-menu__button-link {
  text-decoration: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.nav-menu__container {
  max-width: 810px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.nav-menu__item {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border: 2px solid;
  border-radius: 5px;
  border-color: transparent;
  transition: border-color 0.5s;
}

.nav-menu__item:hover {
  border-color: #37806b;
  color: #37806b;
}

.nav-menu__item:hover .nav-menu__link {
  color: #37806b;
}

.nav-menu__link {
  text-decoration: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #212121;
}
