@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap");

.header {
  max-width: 1440px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  &__container {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
    justify-content: space-between;
  }
  &__image {
    display: inline-block;
    width: clamp(300px, 100%, 715px);
    height: auto;
    position: relative;
    top: -2vw;
    left: -2vw;
  }
  &__image-container {
    display: inline-block;
    width: clamp(300px, 100%, 715px);
    height: clamp(280px, 100%, 613px);
    border: 2px solid #b0855b;
    border-radius: 9.1vw 0px;
    margin-left: 32px;
    margin-top: 90px;
    flex: 2 2 300px;
  }
  &__logo {
    display: inline;
    width: 150px;
    height: 46px;
  }
  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #646464;
    margin-bottom: 13px;
    padding-top: 90px;
  }
  &__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: calc(10px + 0.52vw);
    line-height: calc(18px + 0.52vw);
    color: #646464;
    margin-bottom: 3.3vw;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    width: 41vw;
    flex: 2 2 300px;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 5vw;
    line-height: 7vw;
    color: #212121;
    margin-bottom: 1.6vw;
  }
}
.nav-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: clamp(90%, 97.5%, 97.5%);
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 999;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;

  &__button {
    display: inline-block;
    width: 96px;
    height: 28px;
    text-align: center;
    padding-top: 3px;
    margin-left: 30px;
    background-color: #caa892;
    border: 2px solid #caa892;
    transition: background-color 0.5s;
    color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px 0px;
  }
  &__button:hover {
    background-color: #ffffff;
  }

  &__button:hover &__button-link {
    color: #caa892;
  }

  &__button-link {
    text-decoration: none;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ffffff;
  }

  &__container {
    max-width: 810px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
  }

  &__item {
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    border-color: transparent;
    transition: border-color 0.5s;
  }

  &__item:hover {
    border-color: #37806b;
    color: #37806b;
  }

  &__item:hover &__link {
    color: #37806b;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #212121;
  }
  &__toggle {
    display: none;
  }
}

@media (max-width: 760px) {
  .nav-menu {
    align-items: center;
    justify-content: center;
    position: static;
    &__toggle {
      display: block;
      text-align: center;
      width: 300px;
      align-items: center;
      margin-left: 50px;
      background-color: #37806b;
      color: #ffffff;
      font: {
        family: "Open Sans", sans-serif;
        weight: 700;
        size: 18px;
      }
      padding: 0;
      height: 50px;
      border: 2px solid #37806b;
      border-radius: 20px 0px;
      transition: background-color 0.5s;
    }
    &__toggle:hover {
      background-color: #ffffff;
      color: #37806b;
    }
    &__container {
      display: none;
      &--show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &__button {
      margin-left: 0;
    }
  }
  .header {
    &__logo {
      display: inline;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    &__text-container {
      min-width: 500px;
    }
    &__image {
      width: clamp(100px, 100%, 500px);
    }
    &__image-container {
      width: clamp(100px, 100%, 500px);
    }
  }
}
