@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@600&display=swap");

.testimonials {
  max-width: 1440px;
  height: 810px;
  margin-top: 133px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &__button {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: 86px;
    border-radius: 50%;
    border: 2px solid #37806b;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: #37806b;
    color: #ffffff;
    transition: background-color 0.5s;
    &--active {
      margin-left: 50px;
    }
    &--inactive {
      margin-left: 1200px;
    }
  }
  &__button:hover {
    background: #ffffff;
    color: #37806b;
  }
  &__subtitle {
    display: block;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #646464;
    padding-top: 90px;
  }
  &__testim-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 175px;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #212121;
    margin-bottom: 15px;
    display: block;
    margin: 0;
  }
}
